Source: ruby-memoist
Section: ruby
Priority: optional
Maintainer: Debian Ruby Team <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Youhei SASAKI <uwabami@gfd-dennou.org>
Build-Depends: debhelper-compat (= 13),
               gem2deb,
               ruby-minitest
Standards-Version: 4.6.1
Vcs-Git: https://salsa.debian.org/ruby-team/ruby-memoist.git
Vcs-Browser: https://salsa.debian.org/ruby-team/ruby-memoist
Homepage: https://github.com/matthewrudy/memoist
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: ruby-memoist
Architecture: all
Multi-Arch: foreign
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby:any,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Ruby library providing method memoization
 The memoist library provides methods memoization.
 Memoization cached objects can be looked up faster.
 .
 This is an extraction of Ruby on Rails' ActiveSupport::Memoizable library.
 Ruby on Rails' ActiveSupport::Memoizable has been already deprecated,
 but it is still useful.
